<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bernie Sanders</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/candidate/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/candidate/css/scrolling-nav.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<body background="../static/img/wallpaper.png">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Bernie Sanders</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#positive">Positive</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#negative">Negative</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#discussion">Trends</a>
                    </li>
                    <li>
                        <a a class="page-scroll" href="/index">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Introduction</h1>
                    <p style="font-size:110%">The following analyses performed on <strong>a sample of the 11958 comments</strong> retrieved from articles that referenced Bernie Sanders. After filtering out neutral comments (sentiment scores between -0.1 and 0.2) and comments that do not mention the candidate <strong>there are 1395 comments</strong> for the sentiment analyses. Bar graphs represented <strong>the distributaion of comments that fall under each topic</strong>. For the comments displayed, many of them are truncated to only show the first two sentences due to the limitation of the text box.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="positive" class="positive-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Positive Section</h1> 
                    <h4>(Hover over the graph to see examples)</h4>
                        <div>
                            <a href="https://plot.ly/~pfan/723/" target="_blank" title="Topics" style="display: block; text-align: center;"><img src="https://plot.ly/~pfan/723.png" alt="Topics" style="max-width: 100%;width: 1619px;"  width="1619" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                            <script data-plotly="pfan:723"  src="https://plot.ly/embed.js" async></script>
                        </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="negative" class="negative-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Negative Section</h1>
                    <h4>(Hover over the graph to see examples)</h4>
                        <div>
                        <a href="https://plot.ly/~pfan/703/" target="_blank" title="Topics" style="display: block; text-align: center;"><img src="https://plot.ly/~pfan/703.png" alt="Topics" style="max-width: 100%;width: 1305px;"  width="1305" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                        <script data-plotly="pfan:703"  src="https://plot.ly/embed.js" async></script>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="discussion" class="discussion-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Trends</h1>
                    <h4>(All comments, including neutral)</h4>
                    <div>
                        <a href="https://plot.ly/~pfan/238/" target="_blank" title="Topic trends, 2010-2015" style="display: block; text-align: center;"><img src="https://plot.ly/~pfan/238.png" alt="Topic trends, 2010-2015" style="max-width: 100%;width: 1300px;"  width="1300" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
                        <script data-plotly="pfan:238"  src="https://plot.ly/embed.js" async></script>
                    </div>
                    <iframe width="100%" height="520" frameborder="0" src="https://pfan.cartodb.com/viz/d18f34f2-67c9-11e5-9b96-0ea31932ec1d/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
  <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>

    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; NYT Summarizer 2015</p>
            </div>
        </div>
            <!-- /.row -->
    </footer>
</body>

</html>
